body {
  width: 80% ;
  margin: auto;
}

.title {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: blueviolet;
}

h2 {
  font-size: 1.5em;
  color: darkorange;
}

h2:hover {
  color: orangered;
  cursor: pointer;
}

p {
  line-height: 1.6;
  margin-bottom: 1em;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 0.875rem;
}

li {
  margin-bottom: 0.5em;
  font-size: 0.875rem;
  border: #333 1px solid;
}